body{
    background-color: #ffffff;
    width: 100%;
    height: auto;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}

.menu{
    background-color: black;
    width: 100%;
    height: 60px;
}
    .menu ul{
        /* menghilangkan bullets */
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu li{
        display: inline-block;
        padding-top: 15px;
    }

    .menu li a{
        text-decoration: none;
        font-size: 24px;
        color: white;
        margin-left: 15px;

    }

    .header-home{
            background-color: turquoise;
            width: 100%;
            height: 100%;
            padding : 5% 0 ;
            /*untuk padding kanan sama atas 5%*/

    }
        /*class pake titik klo id pager */
        #title-home{
            font-size: 36px;
            letter-spacing: 1px;
            text-align: center;
            font-weight: 600;


        }

        #title-home img{

            width: 350px;
            height: 256px;
            padding-top: 1cm;

        }
.skill{
    width: 100%;
    height: 350px;
    display: inline-block;
    text-align: center;

}

        #skill-image img{
            margin-top: 50px;
            width: 350px;
            height: auto;

        }

        .skill h1{
            color: #36D7B7;
        }

 .hobby-home{
     padding: 5% 0;
     width: 100%;
     height: auto;
     background-color: #52B3D9;
     text-align: center;
     color: white;

 }

    .hoby-desc{
        width: 30%;
        height: auto;
        display: inline-block;
        padding-top: 3em;
        padding-bottom: 3em;
        text-align: center;
        letter-spacing: 1px;
    }
    .hoby-desc img{
        width: 100%;
        height: 100%;
    }

    .title-desc{
        font-size: 20px;
        font-weight: 600;
    }

     @media screen and (max-width:600px) {
        .hoby-desc{
            width: 100%;
            height: auto;
            padding-top: 3em;
            padding-bottom: 3em;
        }

}

.port-home{
    width: 75%;
    height: auto;
    margin: auto;
    padding: 5% 10px;

}

.port-table{
    width: 100%;
    border-collapse: collapse;

}

.port-table td,
.port-table th{
        border: 1px solid #ddd;
        padding: 8px;

}

.port-table th{
        padding-top: 12px;
        padding-bottom: 12px;

}

.port-home h1{
    color: #000;
    text-align: center;

}

.form-home{
    background-color: #f64747;
    padding: 5% 0;

}
    .form-home form{
        width: 75%;
        margin: auto;
        box-sizing: border-box;
    }

    input[type=text], select,
    textarea{
        width: 100%;
        padding: 12px;
        border: 1px solid  #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;

    }
.form-home h1{
    text-align: center;

}
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}
input[type=submit]{
    background-color: rgb(116, 17,17);
    color: white;
    padding: 12px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.project-home{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5% 0;
}
.project-home h1{
  /*  color: #f64747; ini warna merah */
    color: #000;
    text-align: center;
}

.project-image img{
    width: 100%;
    height: 100%;
}

.footer{
    width: 100%;
    height: 30px;
    background-color: #22313F;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 10px 0;
}
    .footer-left{
        margin-left: 2em;
        float: left;
        padding: 5px 0;
    }
    .footer-right{
        margin-right: 2em;
        float: right;
        color: white;
    }


    .fa {
        padding-right: 5px;
        color: white;
    }

    .footer-right a{
        text-decoration: none;
        color: white;

    }
